/* Our row was defined at 1140 pixels and we want the website to change when it gets closer to that value.
Big tablet to 1200px (widths smaller than 1140px row) */
@media only screen and  (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;  
    }
    
    .row { padding: 0 2%; }
    
}


/* Small tablet to big tablet (From 768 - 1023 px): Ipad on portrait mode (landview) is 1024px */
@media only screen and  (max-width: 1023px) {
    /* resize entire body font-size*/
    body { font-size: 18px; }
    
    /* give every section some padding */
    section { padding: 60px 0; }
    
    
    /* Take care of the text on the 2nd section (features) <h2> */
    .long-copy {
        width: 80%;
        
        /* since the width is now 80% the margin-left must be 10% each side */
        margin-left: 10%;
    }
    
    
    /* Taking care of section 3 - how it works */
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-step { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }
    .app-screen { width: 50%; }
    
    
    /* Taking care of section 4 - cities */
    .icon-small { 
        width: 20px;
        margin-right: 5px; 
    
    }
    
    .city-feature { font-size: 90% }
    
    /* Taking care of section 6 - Sign up and pricing */
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price { font-size: 250%; }
    
    
    /* Section 7 - Contact form */
    .contact-form { width: 80%; }
    
   
    
}


/* Small phones to small tablets (From 481 - 767 px): Width of the Ipad is 780px */
@media only screen and  (max-width: 767px) {
    
    body { font-size: 16px; }
    section { padding: 30px 0; }
    .row, 
    .hero-text-box { padding: 0 4%; }
    
    /* Make columns stacked instead of side by side */
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .main-nav { display: none; }
    
    /* mobile nav icon prog */
    .mobile-nav-icon {
        display: inline-block;
    }
    
    .main-nav {
        float: left;
        margin-top: 25px;
        margin-left: 25px;
    }
    
    /* make elements as blocks an not inline-blocks. Stacked. */
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    
    .sticky .main-nav { margin-top: 10px;}

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {
        padding: 10px 0;
    }
    
    
    .sticky .mobile-nav-icon {margin-top: 10px;}
    .sticky .mobile-nav-icon i {color: #555;}
    
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    
    /* Taking care of section 3 - how it works */
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
    
    .app-screen { width: 40%; }
    .works-step div {
        
        /* So that the text can be side by side with the number */
        display: inline-block;

        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 5px;
        margin-right: 25px;
        font-size: 120%;
    }   
    
    .steps-box:first-child { text-align: center; }
 
}


/* Width of old Iphones (< 5s Iphones) */
@media only screen and  (max-width: 480px) {
    
    section { padding: 25px 0; }
    .contact-form { width: 100%; }
    
}